/target
dist/

# Installer / Build Outputs
*.exe
*.msi
*.rpm
*.deb
*.AppImage
linux_rpm/
linux_deb/
windows_release/
AppDir/
target_appimage/
extracted_deb/
rusttracker.png

# Tracker Modules
*.mod
*.s3m
*.xm
*.it
*.stm
*.669
*.mtm
*.med
*.okt
*.psm
audio_tests/

# Debug / crash artifacts
*.log
gdb_output.txt
*.txt

# Scratch / Temp files
scratch.*
test_*
screenshot.png
scratch_bitstream/target/
scratch_bitstream_windows/target/
