/target
dist/

# Installer / Build Outputs
*.exe
*.msi
*.rpm

# Tracker Modules
*.mod
*.s3m
*.xm
*.it
*.stm
*.669
*.mtm
*.med
*.okt
*.psm
audio_tests/

# Debug / crash artifacts
*.log
gdb_output.txt
*.txt

# Scratch / Temp files
scratch.*
test_*
